.jumbotron{
  text-align: center;

}
#pingResult{
  text-align: center;

}
#result{
text-align: center;
}
.container-fluid{
  background-image: url(../gif/header.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
#creatorInfo{
  color: #0000FF
}
