.jumbotron{
  text-align: center;
background-image: url(../img/jumBack.jpg);
}
#pingResult{
  text-align: center;
color: #FF0000;
}
#result{
text-align: center;
}
.container-fluid{
  background-image: url(../gif/header.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
#creatorInfo{
  color: #0000FF;
}
#gameRules{
  color: #000080;
}
#result{
  color: #800000;
}
